


#projectMapWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--ion-color-light);
}

@media (min-width: 500px){
    #projectMapWrapper {
     //   transform: scale(1.5);
    }
}

.grandParent {
    width: 200px;
    height: 200px;
    position: absolute;
    background: var(--ion-color-medium-contrast);
    border: 2px solid;
    top: -100px;
    left: -100px;
    border-radius: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
    span{
        margin: 100px 0px 0px 100px;
       
    }
}

.mainNode {
    position: relative;
    border: 2px solid;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--ion-color-medium-contrast);
    z-index: 2;
}

.mainNodeData {
    overflow: hidden;
    border-radius: 100%;
    height: 96px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    background: var(--ion-color-medium-contrast);

}

.childNode {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    background: var(--ion-color-medium-contrast);
    cursor: pointer;
    z-index: 2;
    transition: all 0.1s;
    
}

.addNode{
    position: absolute;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: grey;
    cursor: pointer;
    z-index: 2;
}

.connectingLine {
    z-index: 1;
}

.connectingLineGrandParent {
    z-index: 1;
    width: 100%;
    height: 100%;
}